@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
body {
  background-color: #e98815;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 1.1rem;
  height: 100vh;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/89b8e4ba-2c52-44b5-b4c6-963c82fe1812/dctg6uv-ebac2377-9f25-4705-88e7-96cd325c6700.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: none;
  margin: auto auto;
  width: 100vw;
  overflow: hidden;
}

body main {
  position: absolute;
  top: 10vh;
  width: 100%;
  margin: auto auto;
}

body main section {
  margin: auto auto;
  text-align: center;
  display: block;
}

body main section .histoire {
  color: #6b0000;
  text-shadow: 3px 3px 2px 2px black;
  margin: auto;
  width: 80vh;
}

body main section .jeu #block-jeu {
  display: block;
}

body main section .jeu #block-jeu .button {
  display: inline-block;
  color: #6b0000;
  text-shadow: 3px 3px 2px 2px black;
  cursor: none !important;
}

body main section .jeu #block-jeu .button button {
  width: 13vw;
  height: 13vw;
}

body main section .jeu #block-jeu .button button img {
  width: 13vw;
  height: 13vw;
}

body main section .jeu #block-jeu .button:hover {
  display: inline-block;
  cursor: none !important;
}

.affiche {
  font-family: 'Courier New', Courier, monospace;
}

.result {
  font-family: 'Marck Script', cursive;
}

.recommencer {
  font-family: 'Marck Script', cursive;
  width: 30%;
  background: #6b0000;
  color: #e98815;
  font-size: 2rem;
}

#MainGwonam {
  position: absolute;
  display: block;
  z-index: 5;
  -webkit-filter: drop-shadow(5px 2px 5px black);
  filter: drop-shadow(5px 2px 5px black);
}
